.navBar {
  background-color: hsl(0, 0%, 39%);
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  

  &__button {
    max-height: 4.5rem;
    padding: 1rem;
    background-color: #242323;
    display: flex;
    border: 4px solid aqua;
    border-radius: 50%;
  }

  &__text {
    color: aqua;
  }

  &__text--end {
    color: aqua;
    display: flex;
    padding: 2rem 2rem;
    
  }

  &__icon {
    color: aqua;
  }

  &__menu {
    border: 2px solid white;
    margin-left: 1rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: #f3e7e7;
    font-size: 1.25rem;
  }

  &__submenu {
    display: flex;
    padding: 0 2rem;
    padding-bottom: 1rem;
    text-align: left;
    color: aqua;
    font-size: 1.25rem;
    background-color: transparent;

  &__link {
    color: aqua;
  }

  }

}

@media screen and (max-width: 600px) {
  .navBar {
    display: block;
    flex-wrap: nowrap;
    font-size: 0.5rem;
    padding: 0.2rem 0.2rem;
    text-align: left;


    &__menu {

      font-size: 0.8rem;
      margin-left: 2rem;
      
    }

    &__submenu {
      font-size: 0.8rem;
      // display: flex;
      // flex-direction: row;
      // flex-wrap: wrap;
      }

  &__button {
    max-width: 2.5rem;
    padding: 1rem;
    background-color: #242323;
    display: flex;
    border: 4px solid aqua;
    border-radius: 50%;
  }

  
  }
}

